    .comment {
        border: 1px solid #ddd;
        margin-bottom: 10px;
        padding: 10px;
        border-radius: 5px;
    }

    .comment-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 5px;
    }

    .comment-date {
        font-size: 0.8em;
        color: #000;
    }

    .comment-body {
        word-wrap: break-word;
    }

.like-dislike {
    display: flex; /* Размещаем кнопки в строку */
    align-items: center; /* Выравниваем элементы по вертикали */
}

.like-button,
.dislike-button {
    background: none; /* Убираем фон кнопки */
    border: none; /* Убираем рамку кнопки */
    padding: 0; /* Убираем отступы кнопки */
    cursor: pointer; /* Меняем курсор при наведении */
    display: flex; /* Для выравнивания текста и изображения */
    align-items: center; /* Выравниваем элементы по вертикали */
    margin-right: 10px; /* Добавляем отступ между кнопками */
}

.like-button img,
.dislike-button img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.like-button:disabled,
.dislike-button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}