:root {
    --main-color: #c5c100;
    --dopmain-color: #fffab2;
    --lightmain-color: #fffbeb;
    --darkmain-color: #4d4d00;
    --second-color: #b6432b;
    --dopsecond-color: #ffb0a1;
    --dop2second-color: #ffdbd5;
    --midsecond-color: #f8735b;
    --darksecond-color: #481a11;
    --light-color: #d3d3d3;
    --dark-color: #b2b2b2;
    --dopdark-color: #818181;

    --bg-dark-color: rgb(33, 37, 41);
    --bg-light-color: rgb(254, 255, 254);
    --bg-dark-blur-color: rgba(154, 158, 164, 0.3);
    --bg-light-blur-color: rgba(254, 255, 254, 0.3);
    --bg-black-blur-color: rgb(75, 71, 71, 0.5);

    --bg-code-editor-dark:  rgb(33, 37, 41, 0);
    --bg-code-editor-mid:  rgb(33, 37, 41, 0.8);
    --bg-code-editor-light: rgb(33, 37, 41);
}

.list-group-item#code-editor {
    resize: horizontal;
    min-width: 200px;
    border-radius: 5px;
    /* box-shadow: 0 0 20px var(--second-color);*/
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}
.list-group-item#code-editor[data-theme="light"] {
     background-color: var(--bg-code-editor-light) !important;
}
.list-group-item#code-editor[data-theme="dark"] {
     background-color: var(--bg-code-editor-dark) !important;
}

.div-code-editor {
    border-radius: 5px;
    /* box-shadow: 0 0 20px var(--second-color);*/
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}
.div-code-editor[data-theme="light"] {
     background: var(--bg-code-editor-light) !important;
}
.div-code-editor[data-theme="dark"] {
     background: var(--bg-code-editor-dark) !important;
}
.CodeMirror {
    border-radius: 5px;
    resize: none;
    overflow: hidden;
    height: 72vh;
}
.cm-s-yltheme {
    background: rgba(0, 0, 0, 0); !important;
    color: var(--lightmain-color) !important;
}
.cm-s-yltheme .CodeMirror-gutters {
    background: var(--bg-code-editor-mid) !important;
    border-right: 1px solid var(--darkmain-color);
}
.cm-s-yltheme .CodeMirror-linenumber {
    color: var(--dopmain-color) !important;
    font-weight: bold; /* Жирный текст (по желанию) */
}
.cm-s-yltheme .CodeMirror-cursor {
    border-left: 2px solid var(--dopsecond-color) !important;  /* Цвет и стиль курсора (например, оранжевый) */
}
.cm-s-yltheme .CodeMirror-selected {
    background-color:  var(--darkmain-color) !important;
    color: var(--bg-dark-color) !important;  /* Цвет текста при выделении */
}
.cm-s-yltheme .cm-keyword { color: var(--dopsecond-color) !important; }  /* Цвет ключевых слов */
.cm-s-yltheme .cm-string { color: var(--main-color) !important; }   /* Цвет строк */
.cm-s-yltheme .cm-comment { color: var(--dopdark-color) !important; font-style: italic; } /* Цвет комментариев */
.cm-s-yltheme .cm-number { color: var(--dopmain-color) !important; } /* Цвет чисел */
.cm-s-yltheme .cm-operator { color: var(--dark-color) !important; } /* Операторы */
.cm-s-yltheme .cm-def { color: var(--midsecond-color) !important; }
.cm-s-yltheme .cm-builtin { color: var(--dop2second-color) !important; }
.cm-s-yltheme .cm-property { color: var(--dop2second-color) !important; }
.cm-s-yltheme .cm-meta { color: var(--second-color) !important; }

::selection {
    background-color: var(--dopsecond-color);
    color: var(--bg-dark-color);
}
::-moz-selection {
    background-color: var(--dopsecond-color);
    color: var(--bg-dark-color);
}

div.post_header {
    background: #a9a9a9;
}

#glass {
    background: rgba(205, 214, 219, 0.3);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}
#glass_gradient {
    background: linear-gradient(150deg, var(--second-color), rgba(205, 214, 219, 0.3) 10%);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}
.accordion-item {
    background: rgba(205, 214, 219, 0.3);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 10px;
    margin: 0 0;
}
form {
    padding: 10px 15px;
    background: rgba(205, 214, 219, 0.3);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 10px;
}

.form-select:focus {
    border: 1px solid var(--main-color);
    box-shadow: 0 0 20px var(--main-color);
}
.form-select option:checked {
    background-color: var(--main-color);
    color: var(--bg-dark-color);
}
.form-select option {
  background-color: var(--bg-dark-color);
  color: var(--main-color);
}

.move-on-scroll {
    position: relative;
    top: 100px;
    margin: 0 0;
    /* left: 50%; */
    /* transform: translateX(-50%); */
    transition: transform 0.1s ease-out;
}
img.wallpaper_img {
    position: absolute;
    z-index: -1;
}

#body {
    font-family: 'JetBrains Mono', sans-serif; /* Шрифт по умолчанию */
    transition: background-color 0.5s ease, color 0.5s ease;
}

.btn-primary {
    background-color: var(--main-color) !important;
    color: var(--dopmain-color) !important;
    border-color: rgba(0, 0, 0, 0) !important;
}
.btn-primary:hover {
    background-color: var(--dopmain-color) !important;
    color: var(--main-color) !important;
    border-color: rgba(0, 0, 0, 0) !important;
}
.btn-primary#dop {
    background-color: rgba(0, 0, 0, 0) !important;
    color: var(--dark-color) !important;
    border-color: rgba(0, 0, 0, 0) !important;
}
.btn-primary#dop:hover {
    background-color: rgba(0, 0, 0, 0) !important;
    color: var(--dopsecond-color) !important;
    border-color: rgba(0, 0, 0, 0) !important;
}
.btn-secondary {
    background-color: var(--second-color) !important;
    color: var(--dopsecond-color) !important;
    border-color: rgba(0, 0, 0, 0) !important;
}
.btn-secondary:hover {
    background-color: var(--dopsecond-color) !important;
    color:  var(--second-color)  !important;
    border-color: rgba(0, 0, 0, 0) !important;
}
.btn-success {
    background-color: var(--main-color) !important;
    color: var(--dopmain-color) !important;
    border-color: rgba(0, 0, 0, 0) !important;
}
.btn-success:hover {
    background-color: var(--dopmain-color) !important;
    color: var(--main-color) !important;
    border-color: rgba(0, 0, 0, 0) !important;
}
.btn-danger {
    background-color: var(--second-color) !important;
    color: var(--dopsecond-color) !important;
    border-color: rgba(0, 0, 0, 0) !important;
}
.btn-danger:hover {
    background-color: var(--dopsecond-color) !important;
    color:  var(--second-color)  !important;
    border-color: rgba(0, 0, 0, 0) !important;
}
.btn-info {
    background-color: var(--dopdark-color) !important;
    color: var(--light-color) !important;
    border-color: rgba(0, 0, 0, 0) !important;
}
.btn-info:hover {
    background-color: var(--light-color) !important;
    color:  var(--dopdark-color)  !important;
    border-color: rgba(0, 0, 0, 0) !important;
}
.btn-link {
    color: var(--dopdark-color) !important;
}
.nav-link:hover {
    color: var(--dopsecond-color) !important;
}


.text-primary[data-theme="dark"] {
    color: var(--dopmain-color) !important;
    border-color: rgba(0, 0, 0, 0) !important;
}
.text-primary[data-theme="light"] {
    color: var(--main-color) !important;
    border-color: rgba(0, 0, 0, 0) !important;
}
.text-secondary[data-theme="dark"], .text-danger[data-theme="dark"] {
    color: var(--dopsecond-color) !important;
    border-color: rgba(0, 0, 0, 0) !important;
}
.text-secondary[data-theme="light"], .text-danger[data-theme="dark"] {
    color: var(--second-color) !important;
    border-color: rgba(0, 0, 0, 0) !important;
}
h1[data-theme="dark"] {
    color: var(--dopsecond-color) !important;
    border-color: rgba(0, 0, 0, 0) !important;
}
h1[data-theme="light"] {
    color: var(--second-color) !important;
    border-color: rgba(0, 0, 0, 0) !important;
}
h2[data-theme="dark"] {
    color: var(--dopmain-color) !important;
    border-color: rgba(0, 0, 0, 0) !important;
}
h2[data-theme="light"] {
    color: var(--main-color) !important;
    border-color: rgba(0, 0, 0, 0) !important;
}


.accordion-button:not(.collapsed) {
    background: var(--main-color) !important;
    color: var(--dopmain-color) !important;
}
.accordion-button::after {
    color: var(--main-color) !important;
    background: inherit;
    content: "^"; transform: rotate(0deg); font-size: 30px;
}
.accordion-button:not(.collapsed)::after {
    color: var(--dopmain-color) !important;
    background: inherit;
    content: "^"; transform: rotate(180deg);
}
.accordion-button:focus {
    box-shadow: none;
    outline: none;
}

.container-resizer {
display: flex;
user-select: none;
}
.box {
overflow: hidden;
}
.box1 {
width: 25%;
}
.box2 {
width: 75%;
}
.resizer {
width: 5px;
cursor: ew-resize;
background-color: var(--main-color);
transition: background-color 0.2s;
}
.resizer:hover {
background-color: var(--dopmain-color);
}

.carousel-control-prev[type_use="news"] {
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);

    width: 130px;
    height: 300px;
    font-size: 60px;
    position: absolute; left: -100px;
    opacity: 1;
    align-self: center;
    clip-path: url(#carousel-control-prev);
}
.carousel-control-next[type_use="news"] {
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);

    width: 152px;
    height: 300px;
    font-size: 60px;
    position: absolute; right: -100px;
    opacity: 1;
    align-self: center;
    clip-path: url(#carousel-control-next);
}
.carousel-control-prev[type_use="blogs"] {
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);

    width: 152px;
    height: 300px;
    font-size: 60px;
    position: absolute; left: -67px; /* -52px; */
    opacity: 1;
    align-self: center;
    clip-path: url(#carousel-control-next);
}
.carousel-control-next[type_use="blogs"] {
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);

    width: 130px;
    height: 300px;
    font-size: 60px;
    position: absolute; right: -46px; /* -20px; */
    opacity: 1;
    align-self: center;
    clip-path: url(#carousel-control-prev);
}
.carousel-control-prev[data-theme="dark"], .carousel-control-next[data-theme="dark"] { color: var(--bg-dark-color); background: var(--bg-light-blur-color); }
.carousel-control-prev[data-theme="light"], .carousel-control-next[data-theme="light"] { color: var(--bg-light-color); background: var(--bg-dark-blur-color); }
.carousel-control-prev:default[data-theme="dark"], .carousel-control-next:default[data-theme="dark"] { color: var(--bg-dark-color); opacity: 1; }
.carousel-control-prev:default[data-theme="light"], .carousel-control-next:default[data-theme="light"] { color: var(--bg-light-color); opacity: 1; }
.carousel-control-prev:focus[data-theme="dark"], .carousel-control-next:focus[data-theme="dark"] { color: var(--bg-dark-color); opacity: 1; }
.carousel-control-prev:focus[data-theme="light"], .carousel-control-next:focus[data-theme="light"] { color: var(--bg-light-color); opacity: 1; }
.carousel-control-prev:active[data-theme="dark"], .carousel-control-next:active[data-theme="dark"] { color: var(--bg-dark-color); opacity: 1; }
.carousel-control-prev:active[data-theme="light"], .carousel-control-next:active[data-theme="light"] { color: var(--bg-light-color); opacity: 1; }
.carousel-control-prev:hover[data-theme="dark"], .carousel-control-next:hover[data-theme="dark"] { color: var(--dopsecond-color); opacity: 1; }
.carousel-control-prev:hover[data-theme="light"], .carousel-control-next:hover[data-theme="light"] { color: var(--second-color); opacity: 1; }


.btn-check-text[data-theme="dark"] {
    color: var(--dark-color);
    background-color: rgba(0, 0, 0, 0);
    border-color: var(--dopmain-color);
}
.btn-check:checked[data-theme="dark"] + .btn-check-text[data-theme="dark"] {
    color: var(--dopmain-color);
    background: var(--bg-light-blur-color);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}
input[type="radio"]:not(:checked)[data-theme="dark"] + label:hover[data-theme="dark"] {
    color: var(--dopmain-color);
    border-color: var(--dopmain-color);
}
.btn-check-text[data-theme="light"] {
    color: var(--dopdark-color);
    background-color: rgba(0, 0, 0, 0);
    border-color: var(--second-color);
}
.btn-check:checked[data-theme="light"] + .btn-check-text[data-theme="light"] {
    color: var(--second-color);
    background: var(--bg-dark-blur-color);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}
input[type="radio"]:not(:checked)[data-theme="light"] + label:hover[data-theme="light"] {
    color: var(--second-color);
    border-color: var(--second-color);
}

.dislike-like img, .like-dislike img {
    background-color: transparent; /*или rgba(0,0,0,0)*/ /* Делаем фон прозрачным */
}

.dislike-like img, .like-dislike img {
    filter: drop-shadow(0 0 0 rgba(0, 0, 0, 0));  /* Прозрачная тень, имитация прозрачности (не всегда работает) */
}

.dislike-like button, .like-dislike button {
    width: 40px; /* Или другое желаемое значение */
    padding: 0; /* Уберите padding, чтобы кнопки были меньше */
}


.tooltip, .tooltip.show  {
    z-index: 9999 !important; opacity: 1;

    border-radius: 5px !important;
    border: 1px solid var(--second-color);
    box-shadow: 0 0 10px var(--second-color);

    margin-left: -200px !important;
}
.tooltip-inner {
    white-space: nowrap !important;
    max-width: none !important;
    color: var(--lightmain-color) !important;
    background: var(--bg-black-blur-color) !important;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}
.tooltip .tooltip-arrow::before {
  border-top-color: var(--second-color) !important;
}