{% extends "base.html" %}

{% block title %}{{ poster.description[:5] + ("..." if poster.description.__len__() >= 5 else "") }}{% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/poster_detail.css') }}">
<div style="display: grid; gap: 20px">

<div style="display: flex; align-items: center;">
    <a style="height: min-content; margin-right: 10px" role="button" class="btn btn-primary" href="{{ url_for('index') }}"><</a>
    <h1>Обсуждение:</h1>
</div>

{% set type_include_blog = "comments" %}
{% include 'includes/blog.html' %}

<div class="comments">
    <h2>Комментарии:</h2>
    {% if comments %}
        {% for comment in comments %}
            <div class="card mb-4">
                <div class="card-header">
                    <div class="d-flex align-items-center justify-content-between">
                        <div class="d-flex align-items-center">
                            <div class="gradient-shadow-box" data-theme="dark">
                            {% if comment["user"].image_profile %}
                                <img src="data:image/jpeg;base64,{{ base64.b64encode(comment["user"].image_profile).decode('utf-8') }}" class="profile-img rounded-circle mr-3"
                                     style="width: 40px; height: 40px; object-fit: cover;" alt="Аватарка">
                            {% else %}
                                <img src="" class="rounded-circle mr-3"
                                     style="width: 40px; height: 40px; object-fit: cover;" alt="Аватарка">
                            {% endif %}
                            </div>
                            <a class="btn-link" style="margin: 0 10px;" href="{{ url_for('profile.index', user_id=comment["user"].id) }}">{{ comment["user"].name }}</a>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    {{ comment["comment"].text }}
                </div>
            </div>
{#                <div class="comment">#}
{#                    <div class="comment-body">#}
{#                        {{ current_user.name }}: {{ comment.text }}#}
{#                    </div>#}
{#                </div>#}
        {% endfor %}
    {% else %}
        <p>Пока нет комментариев.</p>
    {% endif %}

    <form method="POST" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <div class="mb-3">
            {{ form.text.label(class="form-label") }}
            {{ form.text(class="form-control") }}
        </div>
        <button type="submit" class="btn btn-primary">Отправить</button>
    </form>
</div>

<script>
document.addEventListener('DOMContentLoaded', () => {
    function handleReaction(formClass, countClass, buttonClass, dataKey) {
        const forms = document.querySelectorAll(`.${formClass}`);

        forms.forEach(form => {
            form.addEventListener('submit', async (event) => {
                event.preventDefault();

                const url = form.action;
                const method = form.method;
                const countElement = form.parentNode.querySelector(`.${countClass}`);
                const button = form.querySelector(`.${buttonClass}`);

                try {
                    const response = await fetch(url, {
                        method: method,
                        headers: {
                            'Content-Type': 'application/json'
                        }
                    });

                    if (response.ok) {
                        const data = await response.json();
                        countElement.textContent = data[dataKey];
                        button.disabled = true;

                        // Обновляем стили элементов на странице
                        updateReactions(data);

                    } else {
                        console.error('Ошибка при отправке запроса:', response.status);
                    }
                } catch (error) {
                    console.error('Произошла ошибка:', error);
                }
            });
        });
    }

    function updateReactions(data) {
        const likeCountElements = document.querySelectorAll('.like-count');
        likeCountElements.forEach(el => el.textContent = data.likes);

        const dislikeCountElements = document.querySelectorAll('.dislike-count');
        dislikeCountElements.forEach(el => el.textContent = data.dislikes);

        const likeButtons = document.querySelectorAll('.like');
        likeButtons.forEach(button => button.disabled = data.user_liked);

        const dislikeButtons = document.querySelectorAll('.dislike');
        dislikeButtons.forEach(button => button.disabled = data.user_disliked);
    }

    handleReaction('like-form', 'like-count', 'like', 'likes');
    handleReaction('dislike-form', 'dislike-count', 'dislike', 'dislikes');
});
</script>
</div>
{% endblock %}
