{% extends "base.html" %}

{% block title %}{{ poster.title }}{% endblock %}

{% block content %}
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='css/poster_detail.css') }}">

<div class="card-body">
                    {% if images|length > 0 %}
                        <div id="carouselExampleControls-{{ poster.id }}" class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner">
                                {% for image in images %}
                                    <div class="carousel-item {% if loop.first %}active{% endif %}">
                                        <img src="data:image/jpeg;base64,{{ base64.b64encode(image).decode('utf-8') }}"
                                             class="d-block w-100" style="height: 400px; width:auto max_width: 500; object-fit: cover;"
                                             alt="Изображение">
                                    </div>
                                {% endfor %}
                            </div>
                            <a class="carousel-control-prev" href="#carouselExampleControls-{{ poster.id }}" role="button" data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only"></span>
                            </a>
                            <a class="carousel-control-next" href="#carouselExampleControls-{{ poster.id }}" role="button" data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only"></span>
                            </a>
                        </div>
                    {% endif %}
<p>{{ poster.description }}</p>

<p>Теги: {{ poster.tags }}</p>
<p>Категория: {{ poster.category }}</p>


<div class="comments">
    <h2>Комментарии:</h2>
    {% if comments %}
        {% for comment in comments %}
            <div class="comment">
                <div class="comment-body">
                    {{ current_user.name }}: {{ comment.text }}
                </div>
            </div>
        {% endfor %}
    {% else %}
        <p>Пока нет комментариев.</p>
    {% endif %}

    <h3>Оставить комментарий:</h3>
    <form method="POST" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.text.label }}
            {{ form.text(class="form-control") }}
        </div>
        <button type="submit" class="btn btn-primary">Отправить</button>
    </form>
</div>

<a role="button" class="btn btn-primary btn-sm mr-2" href="{{ url_for('profile.index') }}">Вернуться на главную</a>
{% endblock %}
