{% extends 'base.html' %}

{% block title %}Главная{% endblock %}

{% block content %}

{% include 'forms/search.html' %}
    <div id="carouselExample" class="carousel slide" data-bs-ride="false" data-bs-interval="0" style="position: relative;">
        <div class="carousel-inner">
          {% for new_data in news_data %}
            <div class="carousel-item {% if loop.first %}active{% endif %}">
                <div class="card new-card" style="width: 100%; height: 100%">
                    <div class="card-body" style="width: 100%; height: 100%; display: flex; flex-direction: column;">
                        <h3 class="card-title">{{ new_data[1][0][0] }}</h3>
                        <p class="card-text" style="align-self: start;">
                            {% for new_text_data in new_data[1][1:-1] %}
                                <p> {% for new_string_data in new_text_data %} {{ new_string_data }} {% endfor %} </p>
                            {% endfor %}
                        </p>
                        <p class="card-title" style="margin-top: auto; margin-bottom: 0"> {{ new_data[1][-1][0] }} </p>
                    </div>
                </div>
            </div>
          {% endfor %}
        </div>

        <svg style="width: 0; height: 0; margin: 0 0; padding: 0 0;">
            <defs>
                <clipPath id="carousel-control-prev">
                    <path d="M100,0 Q80,70 60,90 S0,150 60,210 Q80,230 100,300" />
                </clipPath>
                <clipPath id="carousel-control-next">
                    {% set shift = 52 %}
                    <path d="M{{ shift }},0 Q{{ shift + 20 }},70 {{ shift + 40 }},90 S{{ shift + 100 }},150 {{ shift + 40 }},210 Q{{ shift + 20 }},230 {{ shift }},300" />
                </clipPath>
            </defs>
        </svg>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev" type_use="news"><</button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next" type_use="news">></button>
    </div>
    <script>
        function equalizeCarouselHeight() {
            let news = document.querySelectorAll('.carousel-item');
            console.log(news);
            let max_height = 0;

            news.forEach(item => {
                let orig_style = item.style.display;
                item.style.display = "block";
                let height = item.offsetHeight;
                console.log(max_height, height);
                if (height > max_height) {
                    max_height = height;
                }
                item.style.display = orig_style;
            });
            console.log(max_height);
            news.forEach(item => {
                item.style.height = max_height + 'px';
            });
        }
        window.addEventListener("load", equalizeCarouselHeight);
        // window.addEventListener("resize", equalizeCarouselHeight);
    </script>

    {% set x_btn_group = 690 %}
    <div class="btn-group-vertical" role="group" id="btn-group-index" style="position: absolute; transform: translateY({{ x_btn_group }}px); top: 0; left: 10px;  transition: transform 0.1s ease-out;">
        <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" data-bs-toggle="collapse" data-bs-target="#collapse1" aria-expanded="false" aria-controls="collapse1">
        <label class="btn btn-check-text" for="btnradio1">Лента постов</label>
        <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off" data-bs-toggle="collapse" data-bs-target="#collapse2" aria-expanded="false" aria-controls="collapse2">
        <label class="btn btn-check-text" for="btnradio2">Мероприятия</label>
    </div>
    <script> document.getElementById("btnradio1").click(); </script>
    <script>
        window.addEventListener('scroll', function() {
            let start_shift = 200;
            if ({{ x_btn_group }} - start_shift < window.scrollY) {
                document.getElementById('btn-group-index').style.transform = 'translateY(' + String(start_shift + window.scrollY) + 'px)';
            }
        });
    </script>

    <div id="collapseParent">
        <div class="collapse show" id="collapse1" data-bs-parent="#collapseParent">
            <h1>Лента постов</h1>
            {% include 'includes/blogs.html' %}
        </div>
        <div class="collapse" id="collapse2" data-bs-parent="#collapseParent">
            <h1>Мероприятия и конкурсы</h1>
            Пусто
        </div>
    </div>
{% include 'includes/blogs.html' %}
{% endblock %}