{% extends 'base.html' %}

{% block title %}Главная{% endblock %}

{% block content %}
    <h1 data-theme="dark">Добро пожаловать в YL Community!</h1>
    <p>Социальная сеть для учеников Яндекс Лицея и всех, кто связан с Яндекс Образованием.</p>

    <div id="carouselExample" class="carousel slide" data-bs-ride="false" data-bs-interval="0" style="position: relative;">
        <div class="carousel-inner">
          {% for new_data in news_data %}
            <div class="carousel-item {% if loop.first %}active{% endif %}">
                <div class="card new-card" style="width: 100%; height: 100%">
                    <div class="card-body" style="width: 100%; height: 100%; display: flex; flex-direction: column;">
                        <h3 class="card-title">{{ new_data[1][0][0] }}</h3>
                        <p class="card-text" style="align-self: start;">
                            {% for new_text_data in new_data[1][1:-1] %}
                                <p> {% for new_string_data in new_text_data %} {{ new_string_data }} {% endfor %} </p>
                            {% endfor %}
                        </p>
                        <p class="card-title" style="margin-top: auto; margin-bottom: 0"> {{ new_data[1][-1][0] }} </p>
                    </div>
                </div>
            </div>
          {% endfor %}
        </div>

        <svg style="width: 0; height: 0; margin: 0 0; padding: 0 0;">
            <defs>
                <clipPath id="carousel-control-prev">
                    <path d="M100,0 Q80,70 60,90 S0,150 60,210 Q80,230 100,300" />
                </clipPath>
                <clipPath id="carousel-control-next">
                    {% set shift = 52 %}
                    <path d="M{{ shift }},0 Q{{ shift + 20 }},70 {{ shift + 40 }},90 S{{ shift + 100 }},150 {{ shift + 40 }},210 Q{{ shift + 20 }},230 {{ shift }},300" />
                </clipPath>
            </defs>
        </svg>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev"><</button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">></button>
    </div>
    <script>
        function equalizeCarouselHeight() {
            let news = document.querySelectorAll('.carousel-item');
            console.log(news);
            let max_height = 0;

            news.forEach(item => {
                let orig_style = item.style.display;
                item.style.display = "block";
                let height = item.offsetHeight;
                console.log(max_height, height);
                if (height > max_height) {
                    max_height = height;
                }
                item.style.display = orig_style;
            });
            console.log(max_height);
            news.forEach(item => {
                item.style.height = max_height + 'px';
            });
        }
        window.addEventListener("load", equalizeCarouselHeight);
        // window.addEventListener("resize", equalizeCarouselHeight);
    </script>

    {% set x_btn_group = 690 %}
    <div class="btn-group-vertical" role="group" id="btn-group-index" style="position: absolute; transform: translateY({{ x_btn_group }}px); top: 0; left: 10px;  transition: transform 0.1s ease-out;">
        <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" data-bs-toggle="collapse" data-bs-target="#collapse1" aria-expanded="false" aria-controls="collapse1">
        <label class="btn btn-check-text" for="btnradio1">Лента постов</label>
        <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off" data-bs-toggle="collapse" data-bs-target="#collapse2" aria-expanded="false" aria-controls="collapse2">
        <label class="btn btn-check-text" for="btnradio2">Мероприятия</label>
    </div>
    <script> document.getElementById("btnradio1").click(); </script>
    <script>
        window.addEventListener('scroll', function() {
            let start_shift = 200;
            if ({{ x_btn_group }} - start_shift < window.scrollY) {
                document.getElementById('btn-group-index').style.transform = 'translateY(' + String(start_shift + window.scrollY) + 'px)';
            }
        });
    </script>

    <div id="collapseParent">
        <div class="collapse show" id="collapse1" data-bs-parent="#collapseParent">
            <h1>Лента постов</h1>
            <div class="input-group">
                <input type="search" class="form-control rounded" placeholder="Поиск" aria-label="Поиск" aria-describedby="search-addon" />
                <button type="button" class="btn btn-outline-primary" data-mdb-ripple-init>search</button>
            </div>
            <div class="container">
                <div class="row">
                    {% for post in posts %}
                    <div class="col-md-6 mb-3">
                        <div class="card h-100" style="min-height: 200px;">
                            <div class="card-body d-flex flex-column">
                                <div class="d-flex justify-content-between align-items-start mb-2">
                                    <div class="d-flex align-items-start">
                                        {% if post.id in images and images[post.id] %}
                                        <div class="mr-2">
                                            <img src="data:image/jpeg;base64,{{ base64.b64encode(images[post.id]).decode('utf-8') }}"
                                                 class="card-img-top"
                                                 style="max-width: 500px; max-height: 500px; object-fit: cover;"
                                                 alt="Аватарка">
                                        </div>
                                        {% endif %}
                                        <div>
                                            <h6 class="mb-0">{{ post.user.username }}</h6>
                                        </div>
                                    </div>

                                </div>
                                <h5 class="card-title">{{ post.title }}</h5>
                                <p class="card-text flex-grow-1" style="overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 3; -webkit-box-orient: vertical;">{{ post.description }}</p>  <!-- flex-grow-1 чтобы текст занимал доступное пространство -->

                                <div class="d-flex justify-content-between align-items-center mt-auto">
                                    <div>
                                        <a role="button" class="btn btn-primary btn-sm mr-2"
                                           href="{{ url_for('blog.edit_blog_post', post_id=post.id) }}">Редактировать</a>
                                        <a role="button" class="btn btn-danger btn-sm"
                                           href="{{ url_for('blog.delete', post_id=post.id) }}">Удалить</a>
                                        <a role="button" class="btn btn-info btn-sm"
                                           href="{{ url_for('blog.poster_detail', post_id=post.id) }}">Подробнее</a>
                                    </div>
                                    <small class="text-muted">{{ post.date_posted|date }}</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="collapse" id="collapse2" data-bs-parent="#collapseParent">
            <h1>Мероприятия и конкурсы</h1>
            Пусто
        </div>
    </div>
{% endblock %}