{% extends 'base.html' %}

{% block title %}Файл {{ orig_path }}{% endblock %}

{% block content %}
    <h1>{{ name_project }}</h1>

    <div class="row m-1"> <!-- style="margin: 0 0; padding: 0 0;" -->
        <div class="col-auto m-0 p-0">
            <a role="button" class="btn btn-primary" href="{{ url_for('project.open_project', id=id) }}"><</a>
        </div>
        <div class="col ml-auto p-0" style="margin: 0 10px">
            <p class="text-primary" data-bs-html="true" data-bs-toggle="tooltip"
               title="{{ orig_path }}"
               style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 80%; display: block;">
                {{ orig_path }}
            </p>
        </div>
        <div class="col-auto m-0 p-0">
{#            <a role="button" class="btn btn-primary" href="{{ url_for('project.save_file', id_project=id, path=path, new_data) }}"></a>#}
{#            <form onsubmit="save_code(event)">#}
{#                <button type="submit">Изменить файл</button>#}
{#            </form>#}
            <a role="button" class="btn btn-secondary" href="{{ url_for('project.delete_file', id_project=id, path=path) }}">Удалить файл</a>
            <button class="btn btn-primary" onclick="save_code()">Сохранить файл</button>
        </div>
    </div>

    <div class="container container-resizer m-0 p-0">
        <div class="box box1">
            {% include 'includes/tree_archive.html' %}
        </div>
        <div class="resizer"></div>
        <div class="box box2">
            {% if file_type == None %}
                <p class="text-danger m-3">Файл невозможно открыть :(</p>
            {% elif file_type == "img" %} <!-- d-block w-100 -->
                <img src="data:image/jpeg;base64,{{ base64.b64encode(file_data).decode('utf-8') }}"
                                             class="img-fluid" style="margin: 10px; height: 300px; width: auto; object-fit: cover;"
                                             alt="Изображение">
            {% else %}
                <div class="div-code-editor m-0" data-theme="dark"><textarea class="CodeMirror" id="editor">{{ file_data }}</textarea></div>
            {% endif %}
            <script>
                var editor = CodeMirror.fromTextArea(document.getElementById("editor"), {
                    mode: "python",
                    theme: "yltheme",  // yltheme || monokai | dracula | material | tomorrow-night-bright || default | eclipse | idea
                    lineNumbers: true,
                    //indentUnit: 4,
                    //tabSize: 4,
                    //matchBrackets: true
                });
                function save_code() {
                    let data = editor.getValue(); // event.preventDefault();
                    let encode_data = encodeURIComponent(data);
                    window.location.href = "http://127.0.0.1:8086/project/{{ id }}/file/save/{{ path }}?new_data=" + encode_data;
                }
                /* let previousLines = 1    ;
                document.getElementById("editor").addEventListener("input", function () {
                    let currentLines = editor.value.split("\n").length;
                    if (currentLines > previousLines) {
                        //this.style.height = this.value.split("\n").length * 21 + "px";
                        console.log("Пользователь добавил строку");
                    } else if (currentLines < previousLines) {
                        editor.style.height = editor.value.split("\n").length * 21 + "px"; // this.value.split("\n").length * 21 + "px";
                        console.log("Пользователь удалил строку");
                    }
                    previousLines = currentLines;
                    editor.style.height = editor.scrollHeight + "px";
                }); */
            </script>
        </div>
    </div>
    <script>
      const resizer = document.querySelector('.resizer');
      const box1 = document.querySelector('.box1');
      const box2 = document.querySelector('.box2');
      let isResizing = false;

      resizer.addEventListener('mousedown', (event) => {
        isResizing = true;
        document.addEventListener('mousemove', handleMouseMove);
        document.addEventListener('mouseup', () => isResizing = false, { once: true });
      });

      function handleMouseMove(event) {
        if (!isResizing) return;

        const containerWidth = resizer.parentElement.offsetWidth;
        let newBox1Width = event.clientX - resizer.parentElement.offsetLeft;

        // Ограничения по минимальной ширине
        const minWidth = 200;
        const maxWidth = containerWidth - minWidth;

        if (newBox1Width < minWidth) newBox1Width = minWidth;
        if (newBox1Width > maxWidth) newBox1Width = maxWidth;

        box1.style.width = newBox1Width + 'px';
        box2.style.width = (containerWidth - newBox1Width - resizer.offsetWidth) + 'px';
      }
    </script>
    <select id="font-editor-select" class="form-select m-1 p-1 w-auto">
        <option value="yltheme">встроенная тема</option>
        <option value="monokai">monokai</option>
        <option value="dracula">dracula</option>
        <option value="material">material</option>
        <option value="tomorrow-night-bright">tomorrow-night-bright</option>
        <option value="default">default</option>
        <option value="eclipse">eclipse</option>
        <option value="idea">idea</option>
    </select>
    <script>
        const font_editor = document.getElementById('font-editor-select');

        const saved_font_editor = localStorage.getItem('FontEditorSelected');
        if (saved_font_editor) {
            console.log(saved_font_editor);
            editor.setOption("theme", saved_font_editor);
            font_editor.value = saved_font_editor;
        }

        font_editor.addEventListener('change', function() {
            const FontEditorSelected = this.value;
            editor.setOption("theme", FontEditorSelected);
            // CodeMirror(document.getElementById("editor")).setOption("theme", font_editor_selected);

            localStorage.setItem('FontEditorSelected', FontEditorSelected);
        });
    </script>
{% endblock %}