{% extends 'base.html' %}

{% block title %}Файл {{ orig_path }}{% endblock %}

{% block content %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/code_editor.css') }}">

{#    {% set code_langs = ['python', 'xml', 'javascript', 'css', 'htmlmixed'] %}#}
{#    {% for code_lang in code_langs %}#}
{#        <script>console.log("https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.12/mode/{{ code_langs }}/{{ code_langs }}.min.js");</script>#}
{#        <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.12/mode/{{ code_langs }}/{{ code_langs }}.min.js"></script>#}
{#    {% endfor %}#}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.12/mode/python/python.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.16/mode/xml/xml.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.16/mode/javascript/javascript.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.16/mode/css/css.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.16/mode/htmlmixed/htmlmixed.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.12/theme/monokai.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.12/theme/dracula.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.12/theme/material.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.12/theme/tomorrow-night-bright.min.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.12/theme/eclipse.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.12/theme/idea.min.css">

    <h1>{{ name_project }}</h1>

    <div class="row m-1"> <!-- style="margin: 0 0; padding: 0 0;" -->
        <div class="col-auto m-0 p-0">
            <a role="button" class="btn btn-primary" href="{{ url_for('project.open_project', id=id) }}"><</a>
        </div>
        <div class="col ml-auto p-0" style="margin: 0 10px">
            <p class="text-primary" data-bs-html="true" data-bs-toggle="tooltip"
               title="{{ orig_path }}"
               style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 80%; display: block;">
                {{ orig_path }}
            </p>
        </div>
        <div class="col-auto m-0 p-0">
{#            <a role="button" class="btn btn-primary" href="{{ url_for('project.save_file', id_project=id, path=path, new_data) }}"></a>#}
{#            <form onsubmit="save_code(event)">#}
{#                <button type="submit">Изменить файл</button>#}
{#            </form>#}
            <!-- <a role="button" class="btn btn-primary" href="{{ url_for('project.rename_file', id_project=id, path=path) }}">Переименовать</a> -->
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal-rename-file">Переименовать</button>
            {% include 'modal_windows/rename_file.html' %}
            <button class="btn btn-primary" onclick="save_code()">Сохранить файл</button>
            <a role="button" class="btn btn-secondary" href="{{ url_for('project.delete_file', id_project=id, path=path) }}">Удалить файл</a>
        </div>
    </div>

    <div class="container resizer-container" style="margin: 0; padding: 0; border-bottom: 5px solid var(--main-color); margin-bottom: 5px;">
        <div class="resizer-box resizer-box1" style="margin: 0; padding: 0">
            {% include 'includes/tree_archive.html' %}
        </div>
        <div class="resizer-delimiter"></div>
        <div class="resizer-box resizer-box2">
            {% if file_type == "code" %}
                <div class="div-code-editor m-0" data-theme="dark"><textarea class="CodeMirror" id="editor">{{ file_data }}</textarea></div>
                {% set languages = {"py": "python", "xml": "xml", "js":"javascript", "css":"css", "html":"htmlmixed"} %}
                {% set file_extension = name_file.split('.')[-1] %}
                {% if file_extension in languages.keys() %}{% set languages = languages[file_extension] %}{% else %}{% set languages = "python" %}{% endif %}
                <script>
                var editor = CodeMirror.fromTextArea(document.getElementById("editor"), {
                    mode: "{{ languages }}", // python htmlmixed css
                    theme: "yltheme",  // yltheme || monokai | dracula | material | tomorrow-night-bright || default | eclipse | idea
                    lineNumbers: true,
                    indentUnit: 4,
                    tabSize: 4,
                    matchBrackets: true,
                });
                function save_code() {
                    let data = editor.getValue(); // event.preventDefault();
                    let encode_data = encodeURIComponent(data);
                    window.location.href = "http://127.0.0.1:8086/project/{{ id }}/file/save/{{ path }}?new_data=" + encode_data;
                }
                </script>
            {% elif file_type == "img" %}
                <img src="data:image/jpeg;base64,{{ base64.b64encode(file_data).decode('utf-8') }}"
                                             class="img-fluid" style="margin: 10px; height: 300px; width: auto; object-fit: cover;"
                                             alt="Изображение">
            {% elif file_type == "csv" %}
                <table class="table">
                    <thead> <tr>
                    {% for row_head in file_data[1][0] %}
                        <th scope="col">{{ row_head }}</th>
                    {% endfor %}
                    </tr> </thead>
                    <tbody>
                    {% for row_body in file_data[1][1:] %}
                    <tr>
                        {% for cell_body in row_body %}
                        {% if loop.index == 0 %}
                        <th scope="col">{{ cell_body }}</th>
                        {% else %}
                        <td>{{ cell_body }}</td>
                        {% endif %}
                        {% endfor %}
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p class="text-danger m-3">Файл невозможно открыть :(</p>
            {% endif %}
        </div>
    </div>
    <script>
      const resizerDelimiter = document.querySelector('.resizer-delimiter');
      const resizerBox1 = document.querySelector('.resizer-box1');
      const resizerBox2 = document.querySelector('.resizer-box2');
      let isResizing = false;

      resizerDelimiter.addEventListener('mousedown', (event) => {
        isResizing = true;
        document.addEventListener('mousemove', handleMouseMove);
        document.addEventListener('mouseup', () => isResizing = false, { once: true });
      });

      function handleMouseMove(event) {
        if (!isResizing) return;

        const containerWidth = resizerDelimiter.parentElement.offsetWidth;
        let newBox1Width = event.clientX - resizerDelimiter.parentElement.offsetLeft;

        const minWidth = 0;
        const maxWidth = containerWidth - minWidth;

        if (newBox1Width < minWidth) newBox1Width = minWidth;
        if (newBox1Width > maxWidth) newBox1Width = maxWidth;

        resizerBox1.style.width = newBox1Width + 'px';
        resizerBox2.style.width = (containerWidth - newBox1Width - resizerDelimiter.offsetWidth) + 'px';
      }
    </script>

    <div style="display: flex">
    {% if file_type == "code" %}
    <div class="col-auto" style="padding-right: 5px;">
        <select id="font-editor-select" class="form-select w-auto">
            <option value="yltheme">встроенная тема</option>
            <option value="monokai">monokai</option>
            <option value="dracula">dracula</option>
            <option value="material">material</option>
            <option value="tomorrow-night-bright">tomorrow-night-bright</option>
            <option value="default">default</option>
            <option value="eclipse">eclipse</option>
            <option value="idea">idea</option>
        </select>
        <script>
            const font_editor = document.getElementById('font-editor-select');

            const saved_font_editor = localStorage.getItem('FontEditorSelected');
            if (saved_font_editor) {
                editor.setOption("theme", saved_font_editor);
                font_editor.value = saved_font_editor;
            }

            font_editor.addEventListener('change', function() {
                const FontEditorSelected = this.value;
                editor.setOption("theme", FontEditorSelected);
                // CodeMirror(document.getElementById("editor")).setOption("theme", font_editor_selected);

                localStorage.setItem('FontEditorSelected', FontEditorSelected);
            });
        </script>
    </div>

    <div class="col">
        <input type="number" class="form-control text-center w-auto" min="5" max="30" id="inp-code-fontsize">
        <script>
            const InpCodeFontSize = document.getElementById("inp-code-fontsize");
            const CodeMirrorCode = document.getElementsByClassName("CodeMirror-code")[0];

            if (localStorage.getItem('InpCodeFontSize')) {
                const InpCodeFontSizeValue = localStorage.getItem('InpCodeFontSize');
                InpCodeFontSize.value = InpCodeFontSizeValue;
                // CodeMirrorCode.style.fontSize = String(InpCodeFontSizeValue) + "px"
                editor.getWrapperElement().style.fontSize = String(InpCodeFontSizeValue) + "px"
                editor.refresh();
            }
            document.getElementById("inp-code-fontsize").addEventListener('input', function() {
                const InpCodeFontSizeValue = this.value
                 // CodeMirrorCode.style.fontSize = String(InpCodeFontSizeValue) + "px"
                editor.getWrapperElement().style.fontSize = String(InpCodeFontSizeValue) + "px"
                editor.refresh();

                localStorage.setItem('InpCodeFontSize', InpCodeFontSizeValue);
            });
        </script>
    </div>
    {% elif file_type == "csv" %}
    <div class="col-auto" style="padding: 5px;">
        <p>разделитель:</p>
    </div>
    <div class="col">
        <input id="inp-csv-delimiter" class="form-control text-center" style="width: 35px;" value="{{ file_data[0] }}">
        <script>
            const InpCsvDelimiter = document.getElementById("inp-csv-delimiter");

            InpCsvDelimiter.addEventListener('input', function() {
                let delimiter = this.value;
                if (delimiter !== "") {
                    let encode_delimiter = encodeURIComponent(delimiter);
                    window.location.href = "http://127.0.0.1:8086/project/{{ id }}/file/{{ path }}?delimiter=" + encode_delimiter;
                }
            });
        </script>
    </div>
    {% endif %}
    </div>
{% endblock %}