{% extends 'base.html' %}

{% block title %}Проект{% endblock %}

{% block content %}
    <h1>{{ name }}</h1>

    <div class="row">
        <div class="col"><p class="text-primary">id = {{ id }}</p></div>
        <div class="col-auto" style="margin-bottom: 7px">
            <a role="button" class="btn btn-primary" href="{{ url_for("project.edit_project", id=id) }}">Изменить проект</a>
            <a role="button" class="btn btn-secondary" href="{{ url_for('project.delete_project', id=id) }}">Удалить</a>
        </div>
    </div>

    <div class="accordion" id="accordionPanelsStayOpenExample">
      <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-headingOne">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
            Структура
          </button>
        </h2>
        <div style="margin: 20px 20px;" id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
            {% if file_data != None %}
                <a role="button" class="btn btn-primary" href="{{ url_for('project.set_archive', id=id) }}">Перезагрузить архив</a>
                <a role="button" class="btn btn-primary" href="{{ url_for('project.download_archive', id=id) }}">Скачать архив</a>
                <a role="button" class="btn btn-primary" href="{{ url_for('project.delete_archive', id=id) }}">Удалить архив</a>
            {% else %}
                <a role="button" class="btn btn-primary" href="{{ url_for('project.set_archive', id=id) }}">Загрузить архив</a>
            {% endif %}
            <div style="margin-top: 20px">{% if file_tree != None %} {% include 'includes/tree_archive.html'%} {% endif %}</div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
            Описание
          </button>
        </h2>
        <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
          <div class="accordion-body">
              {% if description != "" %}
                    <a role="button" class="btn btn-primary" href="{{ url_for('project.set_description', id=id) }}">Изменить описание</a>
                    <a role="button" class="btn btn-primary" href="{{ url_for('project.delete_description', id=id) }}">Удалить описание</a>
                    <div style="margin-top: 10px;">{{ description }}</div>
              {% else %}
                  <a role="button" class="btn btn-primary" href="{{ url_for('project.set_description', id=id) }}">Загрузить описание</a>
              {% endif %}
          </div>
        </div>
      </div>
    </div>
{% endblock %}